body {
  margin: 100px auto;
  width: 80vw;
  max-width: 700px;
  font-family: arial, sans-serif;
  color: rgb(138, 79, 112);
}
.App .container {
  max-width: 60%;
  margin: 30px auto;
  padding: 20px;
  border-radius: 5px;
  background-image: linear-gradient(to top, #9795f0 0%, #fbc8d4 100%);
  box-shadow: 3px 7px 5px rgba(0, 0, 0, 0.1);
}
.App footer p {
  width: 60%;
  margin: 0 auto;
}
a {
  color: rgb(117, 39, 189);
}
a:hover {
  color: rgb(187, 54, 160);
  text-decoration: none;
}
