.temperature-box {
  text-align: center;
}
.weather-overview li {
  line-height: 5px;
}
.Weather {
  max-width: 500px;
  margin: 30px auto;
}
.Weather h1 {
  font-size: 24px;
  font-weight: 100;
  height: 27px;
  line-height: 28px;
}
.Weather ul {
  margin: 0;
  padding: 0;
}
.Weather li {
  list-style-type: none;
  font-size: 16px;
  font-weight: 100;
  margin: 0 0 30px 15px;
  margin: 0;
  padding: 0;
}
.Weather .temp {
  font-weight: bold;
  font-size: 64px;
  margin-left: 16px;
  line-height: 72px;
}
.Weather unit {
}
