@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&family=Indie+Flower&display=swap");
.temperature-box {
  text-align: center;
}
.Weather {
  max-width: 500px;
  margin: 30px auto;
}
.Weather h1 {
  text-align: center;
  font-size: 48px;
  font-weight: 100;
  margin-bottom: 0;
  font-family: "Indie Flower", cursive;
}
.Weather ul {
  margin: 0 auto;
  padding: 5px 5px;
}
.Weather li {
  list-style-type: none;
  font-family: "Amatic SC", cursive;
  font-size: 30px;
  font-weight: 100;
  margin: 10px 0;
  padding: 0;
  line-height: 24px;
}
.Weather .temp {
  font-weight: bold;
  font-family: "Amatic SC", cursive;
  font-size: 64px;
}
.Weather .temperature-container {
  margin-top: 8px;
}
.Weather .unit {
  font-size: 24px;
  font-family: "Amatic SC", cursive;
  font-weight: 400;
  position: relative;
  top: -32px;
  margin-left: 5px;
}
